.resource {
  width: auto;
  background: rgb(200, 176, 231);
  border: 2px none ;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 20px;
}
.resource__verified {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.resource__verified img {
  width: 30px;
  object-fit: contain;
}
